@media all and (max-width: 576px) {
    :root {
        --sidebar-width:45px;
    }
    /***********************/
    /** side-bar section **/
    /***********************/


    .side-bar{
        padding: 0 5px ;   
    }
    .container-album{
        max-height: calc(100vw  / 2 - 60px);
        max-width: calc(100vw  / 2 - 60px);
    }
    .side-bar .hidden{
        display: none;
    }
    .navbar{
        flex-grow: 1;
    }
    .logo .small{
        display: block;   
    }
    .logo .large{
        display: none;  
    }
    .play-hover i{
        font-size: 60px;
      }

    /***********************/
    /**      FOOTER       **/
    /***********************/
    .footer .track,
    .footer .volume-track{
        display: none;
    }
    .footer {
        justify-content: center
    }
    .footer .progress-track{
        max-width: 500px;
    }


}