:root {
  /** color **/
  --bcg-footer:rgb(30, 30, 30);
  --bck-sidebar:rgb(0, 0, 0);
  --bcg--header:rgba(8, 11, 18,0.5);
  --bcg--wraapper:rgb(20, 25, 34);
  /** height **/
  --header-height: 90px;
  --footer-height: 90px;
  --sidebar-width:300px
}

/** Reset **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat' , Helvetica, sans-serif;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}




/** Grid **/
.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row{
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.col{
  padding: 15px;
}





/** Utils **/

.flex{
  display: flex;
}


/** Debug **/
.brd{
  border: 2px dashed red;
}
.brd-y{
  border: 2px dashed yellow;
}



/********************************************/
                 /** MAIN **/ 
/********************************************/
body{
  color: white;
}
main{
  min-height: calc(100vh - var(--header-height));
  
}
.wrapper{
  background-color: var(--bcg--wraapper);
}

/***********************/
/** side-bar section **/
/***********************/
.side-bar{
  width: var(--sidebar-width);
  height: calc(100vh - var(--footer-height));
  background-color: var(--bck-sidebar);
  flex-shrink: 0;
  padding-left: 20px;
  flex-direction: column;
}
/**Logo**/

.logo{
  height: var(--header-height);
}
.logo .large{
  height: calc(var(--header-height) / 2);
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
.logo .small{
  display: none;
}
.playlist{
  flex-grow: 1;
}


/** NAVBAR **/

.navbar li > div{
  display: flex;
  height: 30px;
  line-height: 30px;
}
.navbar-logo,
.navbar-logo-description{
  height: 100%;
  font-size: 14px;
  margin-right: 10px;
  
}
.navbar img{
  width: 100%; 
  height: 100%;
  object-fit: cover;
}


/** Playlist **/
.playlist{
  padding-top: 20px;
}

.playlist  *{
  padding: 5px 0;
}
.crea-playlist{
  display: flex;
  align-items: center;
}
.add-new-playlist{
  height: 40px;
  width: 40px;
  background-color: rgb(163, 163, 163);
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 32px;
  font-weight: 600;
  color: black;
}


/** Download-app **/

.download-app{
  padding-top: 20px;
}
.download-app .flex{
  height: 40px;
  justify-content: start;
  align-items: center;
  line-height: 30px;
}
.download-app .flex > *{
  margin-right: 10px;
}
.download-app .flex .user{
    height: 30px;
    width: 30px;
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    overflow:auto; 
}
.download-app img{
  width: 100%; 
  height: 100%;
  object-fit: cover;
}
.download-app .download img{
  height: 20px;
}

/***********************/
/**    page section   **/
/***********************/ 

.page{
  overflow: scroll;
}
/**************/
/*** Header ***/
/**************/

.header{
  height: var(--header-height);
  background-color: var(--bcg--header);
  width: calc(100vw - var(--sidebar-width));
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
.header .upgrade{
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}


/***************/
/*** Content ***/
/***************/

.content{
  
 height: calc(100vh - var(--header-height) - var(--footer-height));
 
}







/***********************/
/**      FOOTER       **/
/***********************/ 
.footer {
  min-height: var(--footer-height);
  background-color: var(--bcg-footer);
  justify-content: space-between;
}
.footer > div {
  min-height: var(--footer-height);
  border: 1px solid white;
}
/***************/
/***  Track  ***/
/***************/
.footer .track{
  min-width: 300px;
  justify-content: space-between;
  align-items: center;
}
.footer .track > div {
  height: var(--footer-height);
  line-height: var(--footer-height);
  border: 2px dashed red;
}
.footer .track i{
  margin: 0 5px;
}
.footer .track img{
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
}
.track-data{
  padding-left: 20px;
}
.track-data > div {
  margin-right: 5px;
}

/***************/
/**progress-track**/
/***************/
.footer .progress-track{
  min-width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.play-icon{
  align-items: center;
  margin-bottom: 10px;
}
.progress-track i {
  font-size: 18px;
  margin-right: 20px;
}
.progress-track i.fa-circle-play{
  font-size: 32px;
}

.progress-container{
  align-items: center;
}
.progress-container > div {
  margin: 0 10px;
}
.progress-bar{
  min-width: 300px;
  height: 3px;
  background-color: rgb(86, 85, 85);
}
.progress-bar-progress{
  width: 30%;
  height: 3px;
  background-color: rgb(232, 218, 218);
}
/***************/
/***volume-track***/
/***************/
.footer .volume-track{
  min-width: 300px;
  justify-content: end;
  align-items: center;
}
.footer .volume-track:last-child div{
  margin-right: 10px;
}
.footer .volume-track > div{
  margin-left: 10px;
}
.volume-track .progress-bar{
  min-width: 100px;
}