:root {
  /** color **/
  --bcg-footer:rgb(40, 40, 40);
  --bck-sidebar:rgb(0, 0, 0);
  --bcg--header:rgba(8, 11, 18,0.5);
  --bcg--wraapper:rgb(20, 25, 34);
  /** height **/
  --header-height: 90px;
  --footer-height: 90px;
  --sidebar-width:300px
  
}

/** Reset **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat' , Helvetica, sans-serif;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}



/** Grid **/
.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row{
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.col{
  padding: 15px;
}





/** Utils **/

.flex{
  display: flex;
}


/** Debug **/





/********************************************/
                 /** MAIN **/ 
/********************************************/
body{
  color: white;
}
main{
  min-height: calc(100vh - var(--header-height));
  
}
.wrapper{
  background-color: var(--bcg--wraapper);
}

/***********************/
/** side-bar section **/
/***********************/
.side-bar{
  width: var(--sidebar-width);
  height: calc(100vh - var(--footer-height));
  background-color: var(--bck-sidebar);
  flex-shrink: 0;

}
/******************/
/** page section **/
/******************/
.page{
  overflow: scroll;
}

.header{
  height: var(--header-height);
  background-color: var(--bcg--header);
  width: calc(100vw - var(--sidebar-width));
  position: sticky;
  top: 0;
  z-index: 1;

}

.content{
  
 height: calc(100vh - var(--header-height) - var(--footer-height));
 
}







/** FOOTER **/
.footer {
  min-height: var(--footer-height);
  background-color: var(--bcg-footer);
}